body {
    font-family: 'Segoe UI';
}
.card {
    margin-bottom: 10px;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filters {
    font-size: 16px;
}
.filters span.active {
    color: blue;
}
.dropdown-toggle::after{
    display:none;
}

li{
    list-style-type:none;
}
.alert {
    display:none;
} 